---
import Layout from "../layouts/Layout.astro";

const tutoriasMorning = 6;
const tutoriasNight = 2;
---

<Layout>
  <main class="pt-20 md:pt-30 h-screen bg-neutral-50">
    <div class="flex flex-col text-center text-lg text-neutral-700">
      <div>Faltam apenas</div>

      <div class="relative w-40 mx-auto">
        <div
          class="relative text-9xl font-bold bg-white text-neutral-800 my-6 leading-[1] border rounded-2xl border-neutral-200 py-12 mx-auto z-10">
          {tutoriasMorning}
        </div>

        <div
          class={[
            "text-9xl font-bold bg-white text-neutral-800 my-6 leading-[1] border rounded-2xl border-neutral-200 py-12 mx-auto",
            "absolute top-1.5 left-0 w-full",
            "shadow-sm"
          ].join(" ")}>
          {tutoriasMorning}
        </div>

        <div
          class={[
            "text-9xl font-bold bg-white text-neutral-800 my-6 leading-[1] border rounded-2xl border-neutral-200 py-12 mx-auto",
            "absolute top-1 left-0 w-full",
          ].join(" ")}>
          {tutoriasMorning}
        </div>

        <div
          class={[
            "text-9xl font-bold bg-white text-neutral-800 my-6 leading-[1] border rounded-2xl border-neutral-200 py-12 mx-auto",
            "absolute top-0.5 left-0 w-full",
          ].join(" ")}>
          {tutoriasMorning}
        </div>
      </div>

      <div>tutorias para o internato!</div>
    </div>
  </main>
</Layout>
