---
// Supports weights 100-900
import "@fontsource-variable/outfit";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contagem Regressiva — 8a etapa</title>
  </head>

  <body class="max-h-screen font-sans">
    <slot />
  </body>
</html>
